<h2>Create Movie</h2>

<form action='/movies' method='POST'>

  <label for='input-title'>Title</label>
  <input id='input-title' name='title' placeholder='Title' />

  <label for='input-genre'>Genre</label>
  <input id='input-genre' name='genre' placeholder='Genre' />

  <label for='input-plot'>Plot</label>
  <input id='input-plot' name='plot' placeholder='Plot' />

  <button>Add a new movie!</button>

</form>